<!doctype html>
<html lang="en">
  <head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

		<!-- Fontawesome -->
		<script src="https://use.fontawesome.com/cbc8202490.js"></script>

  </head>
  <body>

		<!-- HEADER -->
		<div id="header" class="navbar navbar-default alert alert-dark" role="navigation">
			<div class="container-fluid">
				<a class="navbar-brand text-muted" href="{{ url_for('dashboard.reservations') }}">
					<i class="fa fa-address-book" aria-hidden="true"></i>  Reservation System
				</a>
			</div>
		</div>

    <!-- NAV TABS --> 
		<div class="container-fluid">
			<div class="col-md-12">
				<ul class="nav nav-pills nav-justified">

					<li role="presentation" class="nav-item">
						<a href="{{ url_for('dashboard.reservations') }}" {% if template == 'reservations' %} class="nav-link active" {% else %} class="nav-link" {% endif %}>
							<i class="fa fa-book"></i>  Reservations
						</a>
					</li>

					<li role="presentation" class="nav-item">
						<a href="{{ url_for('dashboard.guests') }}" {% if template == 'guests' %} class="nav-link active" {% else %} class="nav-link" {% endif %}>
							<i class="fa fa-user"></i>  Guests
						</a>
					</li>

					<li role="presentation" class="nav-item">
						<a href="{{ url_for('dashboard.rooms') }}" {% if template == 'rooms' %} class="nav-link active" {% else %} class="nav-link" {% endif %}>
							<i class="fa fa-bed"></i>  Rooms
						</a>
					</li>

					<li role="presentation" class="nav-item">
						<a href="{{ url_for('dashboard.teetimes') }}" {% if template == 'teetimes' %} class="nav-link active" {% else %} class="nav-link" {% endif %}>
							<i class="fa fa-flag"></i>  TeeTimes
						</a>
					</li>

					<li role="presentation" class="nav-item">
						<a href="{{ url_for('dashboard.skipasses') }}" {% if template == 'skipasses' %} class="nav-link active" {% else %} class="nav-link" {% endif %}>
							<i class="fa fa-snowflake-o"></i>  SkiPasses
						</a>
					</li>

					<li role="presentation" class="nav-item">
						<a href="{{ url_for('dashboard.rentals') }}" {% if template == 'rentals' %} class="nav-link active" {% else %} class="nav-link" {% endif %}>
							<i class="fa fa-suitcase"></i>  Rentals
						</a>
					</li>



				</ul>
			</div>
		</div>
		<div class="row mb-5" ></div>


		<!-- CONTENT -->
	  {% block content %} {% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
