{% extends 'base.html' %}

{% set template = 'guests' %}

{% block content %}

<div class="row">
  <div class="col col-md-3"></div>
  <div class="col col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Guest First Name</th>
          <th scope="col">Guest Last Name</th>
          <th scope="col">Guest Email</th>
        </tr>
      </thead>
      <tbody>
      {% for guest in guests %}
        <tr>
          <td>{{ guest.guest_fname }}</td>
          <td>{{ guest.guest_fname }}</td>
          <td>{{ guest.guest_email }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col col-md-3"></div>
</div>

{% endblock %}
