{% extends 'base.html' %}

{% set template = 'reservations' %}

{% block content %}

<div class="row">
  <div class="col col-md-1"></div>
  <div class="col col-md-10">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Guest First Name</th>
          <th scope="col">Guest Last Name</th>
          <th scope="col">Guest Email</th>
          <th scope-"col">Resort</th>
          <th scope-"col">Room</th>
          <th scope="col">Reservation Date</th>
          <th scope="col">Number of Days Staying</th>
        </tr>
      </thead>
      <tbody>
      {% for resv in reservations %}
        <tr>
          <td>{{ resv.guest.guest_fname }}</td>
          <td>{{ resv.guest.guest_lname }}</td>
          <td>{{ resv.guest.guest_email }}</td>
          <td>{{ resv.room.building.resort.resort_name }} </td>
          <td>{{ resv.room.room_floor}}-{{ resv.room.room_number}} </td>
          <td>{{ resv.resv_date }}</td>
          <td>{{ resv.resv_days }} Days </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col col-md-1"></div>
</div>

{% endblock %}
