{% extends 'base.html' %}

{% set template = 'skipasses' %}

{% block content %}

<div class="row">
  <div class="col col-md-1"></div>
  <div class="col col-md-10">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">SkiPass Type</th>
          <th scope="col">Guest Email</th>
          <th scope-"col">Resort</th>
        </tr>
      </thead>
      <tbody>
      {% for skipass in skipasses %}
        <tr>
          <td>{{ skipass.skipass_day }}</td>
          <td>{{ skipass.skipass_type }}</td>
          <td>{{ skipass.reservation.guest.guest_email }}</td>
          <td>{{ skipass.resort.resort_name }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col col-md-1"></div>
</div>

{% endblock %}
